.cl-l-hero {
    background-image: url(/dist/img/hero-image.png);
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    font-family: $titilium;

    @include for-phone-and-tablet() {
        background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, .1) ), url(/dist/img/hero-image.png);
        color: $white;
    }
}

.cl-c-hero-content {
    text-align: center;
    margin-top: 4em;
    padding: 0 2em;
    
    @include for-phone-only() {
        font-size: 20px;
    }

    @include for-tablet-portrait-up() {
        font-size: 30px;
    }
}

.cl-c-content__paragraph {

    @include for-phone-only() {
        font-size: 1.5em;
    }
}

.cl-c-hero__button {
    @include button-blue();
    margin-bottom: 3em;
}
