// FONT
@import url('https://fonts.googleapis.com/css?family=Titillium+Web:600');
$titilium: 'Titillium Web', sans-serif;

// COLORS
$blue--light: #00B3EF;
$blue--sky: #F5FDFF;
$black: #000000;
$white: #fff;
$gray--light: #F9F9F9;
