// FONT
@import url('https://fonts.googleapis.com/css?family=Titillium+Web:600');
$titilium: 'Titillium Web', sans-serif;

// COLORS
$blue--light: #00B3EF;
$gray--dark: #282828;
$gray--light: #A9A9A9;
