// FONT
@import url('https://fonts.googleapis.com/css?family=Titillium+Web:600');
$titilium: 'Titillium Web', sans-serif;

// COLORS
$blue-light: #00B3EF;
$rose-light: #FFF7FE;
$black: #000000;
$white: #fff;
$blue-sky: #F5FDFF;
$gray-light: #F9F9F9;
$gray-medium: #bababa;